
<footer class="footer">
  <small>
    <%= link_to image_tag("NAV.png", alt: "Rails logo"),'https://drive.google.com/file/d/0BxpVF5_xoxwiMXk4MjVRRlFpOW8/view?usp=sharing' %>
    Jennifer Caballes | Chryss Rei Timothy Flores | Joseph Entoma | Christine Diane Malazarte | Algreg Mata | Kyle Yap
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>

